numpy
rplidar-roboticia
matplotlib
opencv-python
opencv-contrib-python
jaxlib
jax[cuda]  # pip install --upgrade "jax[cuda]" -f https://storage.googleapis.com/jax-releases/jax_releases.html
torch
git+https://github.com/willGuimont/PROSAC
